* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
}

.logo-digital-business {
  width: 106px;
}

svg {
  max-width: 100%;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem 0 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.25s;
}

.menu-icon {
  width: 50px;
}

.nav-menu {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  background: black;
  padding-top: 100px;
  transition: transform 0.5s ease-out;
  overflow-y: auto;
}

.nav-menu-options li {
  text-align: right;
  padding-right: 2rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0;
  color: white;
  font-weight: lighter;
}

.translate-0 {
  transform: translateX(0);
}

.bg-black {
  background: black;
}

.bg-image {
  width: 100vw;
  min-height: 100vh;
  max-height: 500px;
  background-image: url("/images.jpeg");
  background-color: #ccccccd0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 75px 75px;
  display: grid;
  place-items: center;
  padding: 20px;
}

.bg-image::after {
  content: "";
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(5, 8, 6, 0.7);
  border-radius: 0 0 75px 75px;
}

.bg-image div {
  width: 100vw;
  color: white;
  z-index: 5;
  position: absolute;
  font-weight: lighter;
  font-family: sans-serif;
}

.bg-image div h1 {
  font-size: 3rem;
  font-family: Arial;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-top: 6rem;
}

.bg-image div p,
.phrase-title + p {
  line-height: 200%;
  font-size: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.bg-image div div {
  width: 100%;
  display: grid;
  place-items: center;
}

.bg-image div button {
  padding: 1rem 3rem;
  outline: none;
  border: 1.5px solid #e09a29;
  background: transparent;
  border-radius: 50px;
  margin-top: 1rem;
}

.bg-image div button a {
  color: #e09a29;
  font-size: 1.2rem;
}

.container-section {
  padding: 40px 20px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.phrase-title {
  font-size: 3rem;
  font-family: Arial;
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-weight: lighter;
}
.hidden {
  display: none;
}

.socialMedia {
  position: fixed;
  bottom: 20px;
  left: 1rem;
  background: rgb(250, 181, 2);
  width: 80vw;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  border-radius: 50px;
  box-shadow: 0 0 3px 0 rgb(86, 86, 86);
}

@media only screen and (min-width: 969px) {
  .header {
    padding: 2rem 0 1.5rem 2.5rem;
  }
  .logo-digital-business {
    width: 150px;
  }
  .menu-icon,
  .nav-menu {
    display: none;
  }

  .menu-middle {
    display: flex;
    margin-left: 4rem;
  }
  .nav-menu-options {
    display: flex;
    flex-wrap: wrap;
    text-align: normal;
    padding-right: 0rem;
    font-size: 1.4rem;
    margin-right: 3rem;
  }
  .nav-menu-options li {
    text-align: normal;
    margin: 0.8rem 1.75rem;
    padding-right: 0rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
  }

  .nav-menu-options li:hover {
    cursor: pointer;
    border-bottom: 1px solid yellow;
  }

  .bg-image div {
    width: 55vw;
  }

  .bg-image div h1,
  .bg-image div p {
    padding: 1.5rem 0 0 0;
  }

  .bg-image div div {
    place-items: start;
  }

  .socialMedia {
    width: 60px;
    height: 235px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 0px;
    bottom: 40px;
    left: 92%;

    /* position: fixed;
    bottom: 20px;
    left: 1rem;
    background: rgb(250, 181, 2);
    width: 80vw;
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    border-radius: 50px;
    box-shadow: 0 0 3px 0 rgb(86, 86, 86); */
  }
}
